{% extends 'base.html' %}
{% block title %} Create Account {% endblock %}
{% block content %}
<div class="container my-4">
  {% if account_no %}
    <div class="alert alert-success" role="alert">
      Account Created Sucessfully. Account Number : <span style="color:red;">{{account_no}}</span>
    </div>
  {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="form-group col-md-4">
          <label for="middle_name">Middle Name</label>
          <input type="text" class="form-control" id="middle_name" name="middle_name">
        </div>
        <div class="form-group col-md-4">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="account_type">Account Type</label>
          <select id="account_type" class="form-control" name="account_type" required>
            {% for choice in form.fields.account_type.choices %}
              <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
          </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="form-group col-md-6">
          <label for="gender">Gender</label>
          <select id="gender" class="form-control" name="gender">
            {% for choice in form.fields.gender.choices %}
              <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group col-md-4">
          <label for="citizenship_no">Citizenship No</label>
          <input type="text" class="form-control" id="citizenship_no" name="citizenship_no" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="father_name">Father Name</label>
            <input type="text" class="form-control" id="father_name" name="father_name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="mother_name">Mother Name</label>
            <input type="text" class="form-control" id="mother_name" name="mother_name" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="grandfather_name">Grandfather Name</label>
            <input type="text" class="form-control" id="grandfather_name" name="grandfather_name" required>
        </div>
        <div class="form-group col-md-6">
          <label for="spouse_name">Spouse Name</label>
            <input type="text" class="form-control" id="spouse_name" name="spouse_name">
        </div>
      </div>
      <div class="form-group">
        <label>Account No: </label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}