{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="alert alert-primary" role="alert">
      Account Number : {{account_no}}
    </div>
    <button type="button" class="btn btn-primary my-3">Print</button>

        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Filter By Date
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="post">
            {% csrf_token %}
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Date</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <input type="hidden" name="account_no" value="{{account_no}}">
                    <div class="col">
                      <label for="startdate" class="col-sm-2 col-form-label">StartDate</label>
                      <input type="date" id="startdate" name="startdate" class="form-control" required>
                    </div>
                    <div class="col">
                      <label for="enddate" class="col-sm-2 col-form-label">EndDate</label>
                      <input type="date" id="enddate" name="enddate" class="form-control" required>
                    </div>
                  </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </div>
        </form>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Debit</th>
          <th scope="col">Credit</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
        {% for trans in transaction %}
          <tr>
              <td>{{trans.created_at}}</td>
              {% if trans.action == "Debit" %}
                <td>{{trans.amount}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
              {% if trans.action == "Credit" %}
                <td>{{trans.amount}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>{{trans.remarks}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}