{% extends 'base.html' %}
{% block title %} View Account {% endblock %}
{% block content %}
<div class="container">
    <form class="form-inline my-4 mx-auto" method="post">
        {% csrf_token %}
      <div class="form-group mx-sm-5 mb-2">
        <input type="text" class="form-control" id="account_no" placeholder="@Account_NO" name="account_no">
      </div>
      <button type="submit" class="btn btn-primary mb-2">View</button>
    </form>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><strong>Account No</strong></td>
          <td>{{accountholder.account.accountNo}}</td>
        </tr>
        <tr>
          <td><strong>Account Type</strong></td>
          <td>{{accountholder.account_type}}</td>
        </tr>
        <tr>
          <td><strong>Balance</strong></td>
          <td>{{accountholder.account.balance}}</td>
        </tr>
        <tr>
          <td><strong>Available Balance</strong></td>
          <td>{{available_balance}}</td>
        </tr>
        <tr>
          <td><strong>First Name</strong></td>
          <td>{{accountholder.first_name}}</td>
        </tr>
        <tr>
          <td><strong>Middle Name</strong></td>
          <td>{{accountholder.middle_name}}</td>
        </tr>
        <tr>
          <td><strong>Last Name</strong></td>
          <td>{{accountholder.last_name}}</td>
        </tr>
      </tbody>
    </table>
  {% if show_buttons %}
    <a href="/accounts/transaction/{{accountholder.account.accountNo}}" class="btn btn-info">View Transaction</a>
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Update
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form method="post">
            {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Profile</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="account_number" value="{{accountholder.account.accountNo}}">
                <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input type="text" class="form-control" id="first_name" name="first_name" value="{{accountholder.first_name}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Middle Name</label>
                  <input type="text" class="form-control" id="middle_name" name="middle_name" value="{{accountholder.middle_name}}">
                </div>
                <div class="form-group">
                  <label for="first_name">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" value="{{accountholder.last_name}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Address</label>
                  <input type="text" class="form-control" id="address" name="address" value="{{accountholder.address}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Phone</label>
                  <input type="text" class="form-control" id="phone" name="phone" value="{{accountholder.phone}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Email</label>
                  <input type="email" class="form-control" id="email" name="email" value="{{accountholder.email}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Father Name</label>
                  <input type="text" class="form-control" id="father_name" name="father_name" value="{{accountholder.father_name}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Mother Name</label>
                  <input type="text" class="form-control" id="mother_name" name="mother_name" value="{{accountholder.mother_name}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Grandfather Name</label>
                  <input type="text" class="form-control" id="grandfather_name" name="grandfather_name" value="{{accountholder.grandfather_name}}" required>
                </div>
                <div class="form-group">
                  <label for="first_name">Spouse Name</label>
                  <input type="text" class="form-control" id="spouse_name" name="spouse_name" value="{{accountholder.spouse_name}}">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  {% endif %}






</div>
{% endblock %}