{% extends 'base.html' %}
{% block title %} View Account {% endblock %}
{% block content %}
<div class="container">
    <form class="form-inline my-4 mx-auto" method="post">
        {% csrf_token %}
      <div class="form-group mx-sm-5 mb-2">
        <input type="text" class="form-control" id="account_no" placeholder="@Account_NO" name="account_no">
      </div>
      <button type="submit" class="btn btn-primary mb-2">View</button>
    </form>
    {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><strong>Account No</strong></td>
          <td>{{accountholder.account.accountNo}}</td>
        </tr>
        <tr>
          <td><strong>Account Type</strong></td>
          <td>{{accountholder.account_type}}</td>
        </tr>
        <tr>
          <td><strong>Balance</strong></td>
          <td>{{accountholder.account.balance}}</td>
        </tr>
        <tr>
          <td><strong>Available Balance</strong></td>
          <td>{{available_balance}}</td>
        </tr>
        <tr>
          <td><strong>First Name</strong></td>
          <td>{{accountholder.first_name}}</td>
        </tr>
        <tr>
          <td><strong>Middle Name</strong></td>
          <td>{{accountholder.middle_name}}</td>
        </tr>
        <tr>
          <td><strong>Last Name</strong></td>
          <td>{{accountholder.last_name}}</td>
        </tr>
      </tbody>
    </table>
  {% if show_buttons %}
    <button type="button" class="btn btn-info">View Transaction</button>
    <button type="button" class="btn btn-info">Update</button>
  {% endif %}
</div>
{% endblock %}