{% extends 'base.html' %}
{% block title %}Print Cheque{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="accountNodiv">
                <form method="post">
                    {% csrf_token %}
                  `<div class="form-group">
                    <label for="formGroupExampleInput">AccountNo</label>
                    <input type="text" class="form-control" name="accountNo" id="formGroupExampleInput" placeholder="Example input" required>
                  </div>
                  <button type="submit" class="btn btn-success">View</button>
                </form>`
            </div>
            {% if showchequeprintform == True %}
                <div class="chequeprintdiv">
                    <div class="alert alert-success" role="alert">
                        Account Number : <strong>{{accountno}}</strong><br>
                        Enter Cheque Detail Below<br>
                        Last Cheque Number = {{lastchequenumber}}
                    </div>
                    <form method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="chequestartnumber">Cheque Start Number</label>
                        <input type="integer" class="form-control" id="chequestartnumber" name="chequestartnumber" required>
                      </div>
                      <div class="form-group">
                        <label for="numberofcheque">Number of Cheque</label>
                        <input type="integer" class="form-control" id="numberofcheque" name="numberofcheque" required>
                      </div>
                      <button type="button" class="btn btn-success" onclick="clickprintbutton()" id="chequenumberbutton">Confirm</button>
                      <button type="submit" class="btn btn-success" id="printbutton" disabled>Print</button>
                    </form>
                </div>
            {% endif %}

        </div>
        {% if showchequeprintform == True %}
            <div class="col-md-4 my-3">
                <div class="AccountChequeDetail">
                    <h4>Account Cheque Detail</h4>
                    {% if totalunspendcheque < 5 %}
                        <div class="alert alert-warning" role="alert">
                          Unused Cheques : {{totalunspendcheque}} <a href="#">View</a>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                          Unused Cheques : {{totalunspendcheque}} <a href="#">View</a>
                        </div>
                    {% endif %}
                </div>

                <h4>Cheque Numbers</h4>
                <div class="my-3" id="ChequeNumber" style="height:400px;width:290px;;overflow:auto;">
                </div>

            </div>
        {% endif %}
    </div>
</div>
<script>
function clickprintbutton(){
    var chequestartnumber=parseInt(document.getElementById("chequestartnumber").value);
    var numberofcheques=parseInt(document.getElementById("numberofcheque").value);
    for(i=chequestartnumber;i<(chequestartnumber+numberofcheques);i++){
        console.log(i);
        var tag=document.createElement("h5");
        var text=document.createTextNode(i);
        tag.appendChild(text);
        var element=document.getElementById("ChequeNumber");
        element.appendChild(tag);
    }
    printbutton=document.getElementById("printbutton").disabled=false;
    document.getElementById("chequenumberbutton").disabled=true;
}

</script>
{% endblock %}
